.books{
   
    display: inline-block;
    max-width: 1200px;
    align-items: center;
        
}
.books > button{
    border-radius: 6px;
    margin-right: 12px;
    margin-top: 15px;
    border: 1px solid #111;
}
.books > button:hover{
    background: #2b2b2b;
    color: #fff;
}