.main{
  z-index: 999;
}

.title{
  font-family:ubuntu;
  margin-bottom:30px;
  margin-top: 7%;
  font-weight: 500;
  word-spacing: 10px;
}
.emojiInput
{
    width: 300px;
    height: 50px;
    text-align:start;
    border-radius: 6px;
    transition: .1s ease-in;
    margin-bottom:25px ;  
}

.emojiInput:focus-within
{
    box-shadow: 5px 5px 5px 5px lightslategray;
}

.emoji
{
  font-size: x-large;
  padding-right: 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.meaning
{
  margin-top: 10px;
  margin-bottom: 10px;
  background-image:linear-gradient(to top, #121FCF 0%, #CF1512 100%);
  background-clip: text;
  
  
}
.title2{
  margin-top: 50px;
  margin-bottom: 20px;
}