footer{
    width: 100%;
    padding: 10px 23px;
    text-align: center;
    background: #111;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    height: 80px;
    bottom: 0;
    position: absolute;
    z-index: 999;
}
.social-links{
    list-style: none;
    margin-top: 10px;
}
.social-list{
    margin-right: 50px;
    position: relative;
    text-align: center;
    display: inline-block;
}
.social-list >a{
    text-decoration: none;
    color: white;
}
.footer-heading{
    color: rgba(0, 0, 255, 0.884);
    font-weight: 700;
}